[submodule "submodules/lua"]
	path = submodules/lua
	url = https://github.com/walterschell/Lua.git
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "submodules/tini"]
	path = submodules/tini
	url = https://github.com/DatSpygineer/tini.git
[submodule "submodules/tinyxml2"]
	path = submodules/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
