# Ignore IDE folders
.vs
.vscode
.idea

# Ignore build folders
build
cmake-build-debug
cmake-build-release

# Ignore example binaries, logs and user config
example/game/bin
example/game/logs
example/game/cfg/keybinds.cfg
example/game/cfg/userdata.cfg

# Ignore compiled assets
*.gpkg