[submodule "submodules/fmt"]
	path = submodules/fmt
	url = https://github.com/fmtlib/fmt
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
[submodule "submodules/angelscript"]
	path = submodules/angelscript
	url = https://github.com/IngwiePhoenix/AngelScript
