[submodule "submodules/fmt"]
	path = submodules/fmt
	url = https://github.com/fmtlib/fmt
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
[submodule "submodules/lua"]
	path = submodules/lua
	url = https://github.com/walterschell/Lua
[submodule "submodules/tl"]
	path = submodules/tl
	url = https://github.com/teal-language/tl.git
